@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?vprcwv");
  src: url("fonts/icomoon.eot?vprcwv#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?vprcwv") format("truetype"), url("fonts/icomoon.woff?vprcwv") format("woff"), url("fonts/icomoon.svg?vprcwv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-wechat:before {
  content: "\e900"; }

.icon-mobile:before {
  content: "\e958"; }

.icon-arrow-up2:before {
  content: "\ea3a"; }

/* $toolbar-size : 81px;
.toolbar {
	position: fixed;
	left: 50%;
	bottom: 5px;
	margin-left: -$toolbar-size / 2;
	top: 30%;
 }
.toolbar-item, .toolbar-layer {
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
}
.toolbar-item {
	position: relative;
	display: block;
	width: $toolbar-size;
	height: $toolbar-size;
}
.toolbar-item-weixin {
	background-position: 0 0;
	&:hover {
		background-position: -81px 0;
		.toolbar-layer {
			@include opacity(1);
			@include scale(1);
		}
	}
}
.toolbar-item-app {
	background-position: -162px 0;
	&:hover {
		background-position: 0 -81px;
		.toolbar-layer {
			@include opacity(1);
			@include scale(1);
		}
	}
}
.toolbar-item-top {
	background-position: -162px -81px;
	&:hover {
		background-position: -81px -81px;
	}
}
.toolbar-layer {
	position: absolute;
	width: 81px;
	height: 81px;
	left: -81px;
	background-position: -162px 0px;
	@include transform-origin(right bottom);
	@include scale(0.01);
	@include opacity(0);
	@include transition(all 0.5s);
} */
.toolbar {
  position: fixed;
  left: 50%;
  margin-left: -40.5px;
  bottom: 30%; }

.toolbar-item, .toolbar-btn, .toolbar-icon, .toolbar-text, .toolbar-layer {
  width: 81px;
  height: 81px; }

.toolbar-item {
  position: relative;
  display: block;
  margin-top: 1px; }
  .toolbar-item:hover .toolbar-icon {
    top: -81px; }
  .toolbar-item:hover .toolbar-text {
    top: 0; }
  .toolbar-item:hover .toolbar-layer {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100); }

.toolbar-btn {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; }

.toolbar-icon, .toolbar-text {
  position: absolute;
  left: 0;
  color: #fff;
  text-align: center;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -ms-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s; }

.toolbar-icon {
  top: 0;
  background-color: #d0d6d9;
  font-size: 30px;
  line-height: 81px; }

.toolbar-text {
  top: 81px;
  background-color: #98a1a6;
  padding-top: 15px;
  font-size: 24px;
  line-height: 1.2; }

.toolbar-layer {
  position: absolute;
  right: 81px;
  background-image: url(../img/sprites.png);
  background-repeat: no-repeat;
  -webkit-transform: scale(0.01);
  -moz-transform: scale(0.01);
  -ms-transform: scale(0.01);
  -o-transform: scale(0.01);
  transform: scale(0.01);
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.toolbar-layer-weixin {
  height: 81px;
  background-position: -162px 0; }

.toolbar-layer-app {
  height: 81px;
  background-position: 0 0; }

/*# sourceMappingURL=index.css.map */
